h5 {
  font-size: medium;
}
li{
  font-size: small;
}
form > p {
  font-size: small;
}
input::placeholder{
  font-size:small;
}
.nav-link-Head{
  font-size: 2rem;
}
li.nav-item{
margin-right: 1rem;
}
.login-btn{
  margin-left: 15px; 
  color: #212529; 
  background-color: white; 
  border-radius: 5px; 
  font-size: medium;
}
.btn-small{
  font-size: medium;
}

.trending-header{
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px; 
}

.trending-header h1{
  font-size: 4rem;
  font-weight: 700;
}

.trending > h2{
  height: fit-content;
  width: 100%;
}

.trending > img{
  height: 300px;
  margin-left: 30px;
}

footer > div > div > ul > li > a{
  font-size: small;
}

/*login page*/


.loginH1{
  font-size: 3em;
  padding-bottom: 0em;
  font-weight: 700;
}

.loginHeader{
  padding-top: 1em;
  font-size: 2.3em;
  font-weight: 700;
}

.loginText{
  font-size: 1.5em;
}